@charset "utf-8";

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info-container .info-header {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container .info-header .title {
    flex:2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

.info-container .info-header .title .location-name {
    color: #05668D;
    font-weight: 600;
}

.info-container .info-header .buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.info-container .info-header .icon-button {
    background: #D4CBFF;
    color: #4C417D;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    width: 40px;
    height: 30px;
    border: solid 1px #A08BFE;
    border-radius: 2px; 
    outline: none;
}

button + button {
    margin-left: 10px;
}

.info-container .info-content {
    flex: 3;
}

.map-container {
    flex: 2;
    margin: 10px;
    /* border: solid 1px #CDCDCD; */
    /* border-radius: 2px; */
}

@media(min-width:481px) {

    .info-container .info-header .title {
        font-size: 2.5em;
    }

    .info-container .info-header .buttons {
        margin-right: 20px;
    }

    .info-container .info-header .icon-button {
        font-size: 1.5em;
        width: 40px;
        height: 40px;
        box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
    }

    button + button {
        margin-left: 15px;
    }

    .map-container {
        margin: 20px;
        box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
    }
}

@media(min-width:768px) {
    
    .info-container {
        flex: 2;
    }
    
    .map-container {
        flex: 3;
    }
}