<!-- restrict the google maps api key here:
https://console.developers.google.com/apis/credentials/key/79?authuser=1&project=weather-app-1503815962397&pli=1 -->

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div>
    <button (click)="switchTemperatureScale()">
      <span *ngIf="!getFarenheit">°F</span>
      <span *ngIf="getFarenheit">°C</span>
    </button>
    <button (click)="setUserLocation()">
        Location
    </button>
  </div>
</div>

<app-weather-component
    [location]="locationObject"
    [farenheit]="getFarenheit">
</app-weather-component>

<!-- <button 
  type="button"
  class="btn" 
  (click)="showModal()">
  Open Modal
</button> -->

<!-- <app-location-modal #locationModal>
</app-location-modal> -->

<app-map-component
    [userLocation]="locationObject"
    (changeMarkerLocation)="changeMarkerLocation($event)">
</app-map-component>
