<h1>{{ title }}</h1>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  (mapClick)="mapClicked($event)">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<!-- <modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal> -->